*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.parent{
    display: flex;
}

.sidebar{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: black;
}

.sidebar-pos{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
}

.img-sidebar{text-align: center;}

.img-sidebar img{
    width: 60%;
    border: 5px solid rgb(37, 37, 37);
    border-radius: 50%;
}

.menu{
    margin: 20px 0;
    text-align: center;
}

.menu a{
    color: white;
    opacity: 0.4;
    font-size: 19px;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
}

.menu a.selected{
    opacity: 1;
}

.content{
    position: absolute;
    left: 20%;
    width: 80%;
    height: 150%;
    background: white;
    overflow-y: auto;
    padding: 0 3%;

}

section.descricao{
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    
}

section.descricao h2{
    color:rgb(7, 0, 2);
    font-size: 46px;
}

section.descricao h2 > span{
    color: rgb(7, 7, 7);
}


section.descricao h3{
    margin: 20px 0;
    color: rgb(109, 109, 109);
    font-size: 26px;
}

section.descricao h4{
    color: rgb(8, 8, 8);
    font-size: 18px;
    }

.formulario{
    position: relative;
    top: 30%;
    transform: translateY(-50%);
        
}

.formulario input, .formulario-form textarea{
    padding: 10px 12px;
    font-size: 14px;
    height: 30px;
    width: 25%;
}


.formulario button, .formulario-button textarea{
    color: white;
    font-size: 14px;
    height: 30px;
    width: 10%;
    background-color: rgb(6, 7, 7);

}